.App {
  padding: 20px;
  margin: 30px auto;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

form {
  background-color: #d5cccc;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
}

div {
  margin-bottom: 15px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 8px;
  text-align: left;
  width: 100%;
  color: #333;
  font-weight: bold;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

input:focus,
select:focus {
  border-color: #4caf50;
  outline: none;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

span {
  color: red;
  font-size: 12px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

.response {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  box-sizing: border-box;
}

.response h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
}

.response p {
  color: #666;
  font-size: 16px;
  margin: 8px 0;
}

.response p:first-of-type {
  font-weight: bold;
  margin-top: 0;
}

.response p:last-of-type {
  margin-bottom: 0;
}


.response p:last-of-type {
  margin-bottom: 0;
}
